/* MAIN WEBSITE HOMEPAGE */
/* Color palette url: https://coolors.co/151c42-8385b1-bbbddf-e5e0c7-f6f4eb
In order from dark to light, blue to white. */

body {
  padding: 31px;
  background-color: #f6f4eb;
}

@font-face {
  font-family: "wizardry";
  src: url("wizardry.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neucha";
  src: url("neucha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main-title {
  font-family: "wizardry", serif;
  color: #151c42;
  width: 900px;
  margin: 0 auto;
  a:link, a:visited, a:hover {
    color: #151c42;
    text-decoration: none;
  }
  width: 900px;
  text-align: center;
  font-size: 75pt;
}

.main-body {
    a:link, a:visited {
    color: #151c42;
    text-decoration: none;
  }
  a:hover {
    color: #151c42;
    text-decoration: underline;
  }
  font-family: "neucha", serif;
  color: #8385b1;
  width: 900px;
  margin: 0 auto;
  text-align: justify;
  font-size: 31pt;
}

.main-body pre,
#content-target {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0; /* avoid extra vertical spacing */
  /* preserve newlines from the source, but allow wrapping of long runs */
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  /* allow or break very long unbroken sequences (digits) onto next lines */
  overflow-wrap: anywhere;
  word-break: break-all; /* fallback to force breaks when needed */
  font-family: "neucha", serif;
}

.main-footer {
    a:link, a:visited {
    color: #151c42;
    text-decoration: none;
  }
  a:hover {
    color: #151c42;
    text-decoration: underline;
  }
  font-family: "neucha", serif;
  color: #8385b1;
  width: 900px;
  margin: 0 auto;
  text-align: justify;
  font-size: 25pt;
}

.main-clear {
  clear: both;
}
