:root {
    --colorBackground: #373347;
    --colorForeground: #E4DDE1;
    --colorAccent: #C7A8AC;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--colorBackground);
    color: var(--colorForeground);
    display: block;
    background-image: url(/indexfiles/doradusnebula.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "neucha", cursive;
    font-size: 20px;
}
@font-face {
    font-family: "neucha";
    src: url("neucha.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*:focus-visible {
    border-radius: 3px;
    /*border: 3px dashed var(--colorForeground);*/
    border: none;
    box-sizing: border-box;
    outline: 3px dashed var(--colorForeground);
}

.content { /* deprecated */
    background-color: color-mix(in oklab, #00000000 13%, var(--colorBackground));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93vw;
    height: 85vh;
}

h1 {
    font-family: "neucha", serif;
    width: 100vw;
    text-align: center;
    font-size: min(314px, 26vw);
    text-shadow: var(--colorBackground) 0px 0px 31px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
h2 {
    font-family: "neucha", serif;
    width: 100vw;
    text-align: center;
    padding: 13px;
    font-size: 9vw;
    text-shadow: var(--colorBackground) 0px 0px 31px;
    margin: 0;
}
h3 {
    margin: 0;
    text-align: center;
    width: 100%;
    display: block;
}
.itemContainer {
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
    margin: 1vw;
    padding: 0;
}
.item {
    width: 18vw;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: var(--colorBackground);
    padding: 13px;
}
.item p {
    margin-top: 0;
}
.item:hover {
    cursor: pointer;
}

.info {
    background-color: var(--colorBackground);
    color: var(--colorForeground);
    outline: none;
    border: none;
    border-radius: 3px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 13px;
    z-index: 314159;
}
.info img{
    vertical-align: center;
    height: 26px;
}
.tableContents {
    background-color: var(--colorBackground);
    color: var(--colorForeground);
    outline: none;
    border: none;
    border-radius: 3px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 13px;
}

.noscript {
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 13px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 31px;
    text-shadow: var(--colorBackground) 0px 0px 31px;
}